{deps, [
    {amqp_client, ".*", {git, "https://github.com/jbrisbin/amqp_client.git", "master"}},
    {getopt, ".*", {git, "https://github.com/jcomellas/getopt.git", "master"}}]}.
{escript_incl_apps, [amqp_client, rabbit_common, getopt]}.
{escript_emu_args,"%%! -sname rmq_publish -setcookie rmq_publish\n"}.
